.button {
	width: 120px;
	height: 120px;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	cursor: pointer;
	z-index: 10;

	p {
		display: block;
		color: white;
		margin: 0px;
		text-transform: uppercase;
		transition: color 0.5s;
	}

	svg {
		position: absolute;
		right: 20px;
		top: 20px;

		line {
			transition: stroke 0.5s;
		}
	}

	.background {
		background-color: #d3fd50;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		height: 0;
		transition: height 0.3s;
	}

	&:hover {
		p {
			color: black;
		}
		svg {
			line {
				stroke: black;
			}
		}
		.background {
			height: 100%;
		}
	}
}

/* Ensure tap/touch works as hover on mobile */
@media (hover: none) {
	.button:active {
		.background {
			height: 100%;
		}
		p {
			color: black;
		}
		svg {
			line {
				stroke: black;
			}
		}
	}
}

/* Mobile specific adjustments */
@media screen and (max-width: 768px) {
	.button {
		width: 100px; /* Larger width for mobile */
		height: 100px; /* Larger height for mobile */
		padding: 10px;

		p {
			font-size: 16px;
			margin-bottom: 10px;
		}

		svg {
			width: 48px;
			height: 7px;
			right: 25px;
			top: 25px;
		}
	}
}
